#better-youtube-subscriptions-switch-shorts, 
#better-youtube-subscriptions-show-watched {
    margin: 0 0.5em;
    height: 2em;
    cursor: pointer;
}
#better-youtube-subscriptions-switch-shorts > .shorts-icon,
#better-youtube-subscriptions-show-watched > .eye-icon{
    height: 100%;
}
#contents[display-video-kind="shorts"] .shorts-icon, #contents[display-watched="true"] .eye-icon{
    fill: var(--yt-spec-static-brand-red);
}
[better-hide-this-content] {
    display: none !important;
}